<div class="container-fluid">
  <div class="row bg-light pt-10 pl-10">
    <h4>New Book</h4>
  </div>
  <div [hidden]="submitted">
    <form (ngSubmit)="save()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="book.title" required/>
        </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="book.subject" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" id="author" name="email"  [(ngModel)]="book.author" required/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" id="category"  name="category" [(ngModel)]="book.category">
              <option [ngValue]="categoryOption" *ngFor="let categoryOption of category">{{categoryOption}}</option>
            </select>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="submit" class="btn btn-danger ml-10" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
