<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">LMS</div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/']" class="list-group-item list-group-item-action bg-light">Books</a>
      <a [routerLink]="['member']" class="list-group-item list-group-item-action bg-light">Members</a>
      <a [routerLink]="['book-ladger']" class="list-group-item list-group-item-action bg-light">Book Ladgers</a>
    </div>
  </div>

  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>